@{
    ViewBag.Title = "Exception";
}

<h1>Error</h1>

<p>
    The page you were accessing encountered an Error. Refer to ..\Log\ExceptionLog.txt for more details.
</p> 
  
<div>  
Return to the @Html.ActionLink("home page", "Index", "Home").  
</div>  