@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>


<table style="width: 100%;">
    <tr>
        <td>
            Select Cinema
        </td>
        <td>
            <select id="cinema-select">
            <option> GV Katong </option>
            <option> GV Katong </option>
            <option> GV Katong </option>
            <option> GV Katong </option>
            <option> GV Katong </option>
            <option> GV Katong </option>
        </select>
        </td>
        <td>
            &nbsp;
        </td>
        
    </tr>
    <tr>
        <td>
            Select Movie
        </td>
        <td>
             <select id="movie-select">
            <option> The Avengers </option>
            <option> Lockout</option>
            <option> BattleShip </option>
            <option> OKOK </option>
            <option> Shivaji - The Boss Part 2 </option>
            <option> Enthiran - The Robot </option>
        </select>
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            Choose a Day
        </td>
        <td>
             <select id="day-select">
            <option> 08-05-2012 </option>
            <option> 09-05-2012 </option>
            <option> 10-05-2012 </option>
            <option> 11-05-2012 </option>
        </select>
        </td>
        <td>
            &nbsp;
        </td>
    </tr>

    <tr>
       <td>
         &nbsp;
       </td>

        <td>
           <a href='#' class='btn btn-primary large'> Go </a>
        </td>

        <td>
        &nbsp;
        </td>
    </tr>
</table>
