<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MovieBookingEntitiesContext" connectionString="metadata=res://*/MovieBooking.DAL.Model.csdl|res://*/MovieBooking.DAL.Model.ssdl|res://*/MovieBooking.DAL.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLExpress;Initial Catalog=MovieBooking;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>