<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>
    
    <!--<add name="MovieBooking" connectionString="Server=.\SQLExpress;Initial Catalog=MovieBooking;Trusted_Connection=Yes;"
      providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="Server=.\SQLExpress;Initial Catalog=MovieBooking;Trusted_Connection=Yes;"
      providerName="System.Data.SqlClient" />-->

    <add name="MovieBooking" connectionString="Server=.\SQLExpress;AttachDbFilename=|DataDirectory|MovieBooking.mdf; Database=MovieBooking;Trusted_Connection=Yes;"
      providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="Server=.\SQLExpress;AttachDbFilename=|DataDirectory|MovieBooking.mdf; Database=MovieBooking;Trusted_Connection=Yes;"
     providerName="System.Data.SqlClient" />

    <add name="MovieBookingEntitiesContext" connectionString="metadata=res://*/MovieBooking.DAL.Model.csdl|res://*/MovieBooking.DAL.Model.ssdl|res://*/MovieBooking.DAL.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLExpress;Initial Catalog=MovieBooking;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>

        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStockService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPaymentService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
                    maxReceivedMessageSize="65536">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IStockService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/MovieBooking.SI.Web/StockService.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStockService"
                contract="StockService.IStockService" name="BasicHttpBinding_IStockService" />
            <endpoint address="http://localhost/MovieBooking.SI.Web/StockService.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStockService"
                contract="StockService.IStockService" name="WSHttpBinding_IStockService">
                <identity>
                    <servicePrincipalName value="host/A2-mansoor.ncs.corp.int-ads" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8080/PaymentService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPaymentService" contract="PaymentService.IPaymentService"
                name="NetTcpBinding_IPaymentService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>

</configuration>
