@{
    ViewBag.Title = "About Us";
}
<form style="background-image:url('../images/plain-brown.jpg');">
<h2>About</h2>
<p style="font-size:medium; ">
 S06 Silver Village’s hottest entertainment destination for people from all walks of life, across a wide age group and user profile. 
 Sathyam Cinemas strives to be at the forefront of media technology and endeavours to bring new entertainment technology 
 to customers first.  It was the first exhibitor in Singapore to introduce 2K digital projection technology with its brand RDX 
 and the first to convert 100% of its screens to digital.  It went one step further and introduced digital 3D in RDX and 
 continues to push the boundaries of entertainment technology.

 The company has a h1 ethos of quality and service and all of the businesses that it operates ensure world class quality
 and experience.  It operates the largest multi format gaming facility in Singapore, Blur and the concept restaurants, ID 
 and Ecstasy.

 Centrally located off Chennai’s arterial Mount Road, Sathyam cinemas is a major draw to students, residents and professionals
 of all age groups throughout the week. With adequate parking in its main parking lot and an additional parking at the Parking
 Annexe besides a large capacity of two wheelers parking, advertisers are guaranteed a phenomenal touch point with potential
 customers when they choose Sathyam as their advertising destination.

 Sathyam Cinemas also houses its own bakery with a specialist chef who churns out the most delectable snacks and desserts 
 around town and has a lot more lined up to give Chennai its finest entertainment experience.
</p>
</form>
