<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <connectionStrings>
    <add name="MovieBooking" connectionString="Server=.\SQLExpress;Initial Catalog=MovieBooking;Trusted_Connection=Yes;"
      providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="Server=.\SQLExpress;Initial Catalog=MovieBooking;Trusted_Connection=Yes;"
      providerName="System.Data.SqlClient" />
    <add name="MovieBookingEntitiesContext" connectionString="metadata=res://*/MovieBooking.DAL.Model.csdl|res://*/MovieBooking.DAL.Model.ssdl|res://*/MovieBooking.DAL.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLExpress;Initial Catalog=MovieBooking;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.serviceModel>
    <services>
      <service name="MovieBooking.SI.Web.StockService" behaviorConfiguration="movieServiceBehavior">
        <endpoint binding="basicHttpBinding" address="basic" contract="MovieBooking.SI.Web.IStockService" bindingConfiguration="basicHttpBindingConfig"/>
        <endpoint binding="wsHttpBinding" address="ws" contract="MovieBooking.SI.Web.IStockService" bindingConfiguration="wsHttpBindingConfig"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MovieBooking.SI.Web/StockService.svc" />
          </baseAddresses>
        </host>
      </service>
      <service name="MovieBooking.SI.Web.PaymentService" behaviorConfiguration="movieServiceBehavior">
        <endpoint binding="basicHttpBinding" address="basic" contract="MovieBooking.SI.Web.IPaymentService" bindingConfiguration="basicHttpBindingConfig"/>
        <endpoint binding="wsHttpBinding" address="ws" contract="MovieBooking.SI.Web.IPaymentService" bindingConfiguration="wsHttpBindingConfig"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MovieBooking.SI.Web/PaymentService.svc" />
          </baseAddresses>
        </host>
      </service>
      <service name="MovieBooking.SI.Web.MovieDetailService" behaviorConfiguration="movieServiceBehavior">
        <endpoint binding="basicHttpBinding" address="basic" contract="MovieBooking.SI.Web.IMovieDetService" bindingConfiguration="basicHttpBindingConfig"/>
        <endpoint binding="wsHttpBinding" address="ws" contract="MovieBooking.SI.Web.IMovieDetService" bindingConfiguration="wsHttpBindingConfig"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MovieBooking.SI.Web/MovieDetailService.svc" />
          </baseAddresses>
        </host>
      </service>
      <service name="MovieBooking.SI.Web.HallListService" behaviorConfiguration="movieServiceBehavior">
        <endpoint binding="basicHttpBinding" address="basic" contract="MovieBooking.SI.Web.IHallListService" bindingConfiguration="basicHttpBindingConfig"/>
        <endpoint binding="wsHttpBinding" address="ws" contract="MovieBooking.SI.Web.IHallListService" bindingConfiguration="wsHttpBindingConfig"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MovieBooking.SI.Web/StockService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
          <behavior name="movieServiceBehavior" >
            <serviceMetadata httpGetEnabled="true" />
          </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig"
                 hostNameComparisonMode="StrongWildcard"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 maxBufferSize="65536"
                 maxBufferPoolSize="524288"
                 transferMode="Buffered"
                 messageEncoding="Text"
                 textEncoding="utf-8"
                 bypassProxyOnLocal="false"
                 useDefaultWebProxy="true" >
          <security mode="None" />
        </binding>
      </basicHttpBinding>

      <wsHttpBinding>
        <binding name="wsHttpBindingConfig"
                  bypassProxyOnLocal="false"
                  transactionFlow="false"
                  hostNameComparisonMode="StrongWildcard"
                  maxBufferPoolSize="524288"
                  maxReceivedMessageSize="65536"
                  messageEncoding="Text"
                  textEncoding="utf-8"
                  useDefaultWebProxy="true"
                  allowCookies="false">
          <reliableSession ordered="true"
                           inactivityTimeout="00:10:00"
                           enabled="false" />
          <security mode="Message">
            <message clientCredentialType="Windows"
                     negotiateServiceCredential="true"
                     algorithmSuite="Default"
                     establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
   
    </bindings>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
