@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
<h1>
    Contact Us </h1>
    </div>


<table width="100%" border="0" cellspacing="0" cellpadding="0" class='well'> 
                            <tbody>
                            <tr>

                            </tr>
                            <tr>
                                <td colspan="3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        
                                        <tr>
                                           
                                        </tr>
                                        <tr>
                                            <td><span c><br>Please feel free to contact us at the following: <br>
                                                    <br>
                                                </span>
                                                <table width="99%" border="0" cellspacing="1" cellpadding="4">
                                                    
                                                    <tbody><tr>
                                                        <td> <table cellspacing="0" cellpadding="2">
                                                  <tbody><tr>
                                                                    <td valign="top" >Name of Company:</td>
                                                                    <td class="synopsis"> ISS Theatre </td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" >Business Registration No: </td>
                                                                    <td >199000799W</td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="303" valign="top" class="synopsis">Address:</td>
                                                                    <td width="398"> <strong> ISS Theatre </strong> <br>
                                                                         Heng Mui Keng Terrace  <br>
                                                                         Singapore <br />
                                                                         
                                                                         <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Heng+Mui+Keng+Terrace,+Singapore&amp;aq=0&amp;oq=Heng&amp;sll=1.33884,103.705546&amp;sspn=0.006039,0.010568&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Heng+Mui+Keng+Terrace,+Queenstown,+Singapore&amp;z=14&amp;ll=1.291403,103.776201&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Heng+Mui+Keng+Terrace,+Singapore&amp;aq=0&amp;oq=Heng&amp;sll=1.33884,103.705546&amp;sspn=0.006039,0.010568&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Heng+Mui+Keng+Terrace,+Queenstown,+Singapore&amp;z=14&amp;ll=1.291403,103.776201" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                                                                         </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tel:</td>
                                                                    <td>+65 6311 9162 (during office hours)</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Fax: </td>
                                                                    <td >+65 6334 8397 </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Email:</td>
                                                                    <td ><a href="mailto:iss@iss.com" class="textlink">customers@isstheatre.com</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="top" >Head Office Operating Hours:</td>
                                                                  <td valign="top">9am to 6pm (Mondays to Fridays)
                                                                  </td>
                                                          </tr>
                                                              <tr>
                                                                  <td valign="top" class="synopsis">Customer Service  Operating Hours:<br>
                                                                    <br>
                                                                    
                                                                   <!-- 20 January 2012 (Friday):-->
<!--  Operationg Hours for the New Year <br />--></td>
                                                                  <td valign="top" class="synopsis">9am to 7pm (Mondays to Fridays) <br>
                                                                    10am to 7pm (Saturdays &amp; Public Holidays) <!--<br />
                                                                    12pm to 6pm (Sundays for the month of December only)-->                                                           
                                                                   <!-- 9am to 3.30pm--></td>
                                                              </tr><tr>
                                                               <!-- <td valign="top" class="synopsis">
                                                                30 December 2011 (Friday):<br />
                                                                31 December 2011 (Saturday):<br />
                                                                1 January 2012 (Sunday):<br />
                                                                2 January 2012 (Monday):
        </td>
                                                                <td valign="top" class="synopsis">
                                                                9am to 3.30pm<br />
                                                                10am to 5pm<br />
                                                                Our office will be closed<br />
                                                                Our office will be closed</td>                                           -->                   
														  
                                                              </tr><tr>
                                                                    <td valign="top" class="synopsis">Cinema Location Operating Hours:</td>
                                                                  <td valign="top" class="synopsis">From 30 minutes before the first session to the last session of the day. <br>
                                                                    Please check respective locations for the timing of the first session of the day.</td>
                                                          </tr>
														  <!-- <tr>
                                                                    <td valign="top" class="synopsis"><font color="#2B60DE">Saturday 22 October 2011 Operating Hours:</td>
                                                                    <td valign="top" class="synopsis"><font color="#2B60DE">Customer Service Hotline will be closed</td>
                                                          </tr>-->
                                                        </tbody></table>                      </td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><table width="728" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody><tr>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                    
                                                    
                                            </tbody></table></td>
                                        </tr>
                                </tbody></table></td>
                            </tr>
                            
                    </tbody></table>
