@{
    ViewBag.Title = "Trailer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trailer</h2>

<div class='well'>

<table class='table'> 
 <tbody> 
  <tr>
     
     <td>
    <h2><strong> Enthiran </strong> </h2> 
     <div class='clearfix'> </div>
  <iframe width="560" height="315" src="http://www.youtube.com/embed/ZBkcTH3jWys" frameborder="0" allowfullscreen></iframe>
  </td>
  </tr>

   <tr>
     
     <td>
    <h2>  <strong> Angry Birds </strong> </h2>
     <div class='clearfix'> </div>
  <iframe width="560" height="315" src="http://www.youtube.com/embed/2matH4B9bTo" frameborder="0" allowfullscreen></iframe>
  </td>
  </tr>

   <tr>
     
     <td>
      <h2>  <strong> Dark Knight</strong>  </h2> 
     <div class='clearfix'> </div> <br />
 <iframe width="560" height="315" src="http://www.youtube.com/embed/GokKUqLcvD8" frameborder="0" allowfullscreen></iframe>
  </td>
  </tr>

     <td>
          <h2>   <strong> Sivaji - The Boss </strong> </h2> 
     <div class='clearfix'> </div> <br />
 <iframe width="420" height="315" src="http://www.youtube.com/embed/E40ElfiwYc0" frameborder="0" allowfullscreen></iframe>
  </td>
  </tr>

   <tr>
     
     <td>
       <h2>       <strong> Shutter - Korean </strong> </h2>
     <div class='clearfix'> </div>
  <iframe width="420" height="315" src="http://www.youtube.com/embed/rDOCQnoDwQE" frameborder="0" allowfullscreen></iframe>
  </td>
  </tr>
  
 
 
 </tbody>

</table>


</div>
